<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script th:src="@{/js/board5.js}"></script>
<script>
function checkId(boardId,loginId,author){
  if(loginId == author){
    return true;
  }
  else{
    alert('본인이 작성한 게시글만 수정가능합니다.');
    return false;
  }
}
</script>
<div th:insert="~{top:: top}"></div>
<body>
<a th:if="${#authentication.name} !='anonymousUser'"
   th:href="@{/inputBoard5}">글쓰기</a>
<a th:if="${#authentication.name} == 'anonymousUser'"
   th:href="@{/login}"
   onclick="alert('로그인 후 이용햐 주새요');">글쓰기</a>
<table style="text-align:center;">
  <COLGROUP>
    <col style="width:7%">
    <col style="">
    <col style="width:7%">
    <col style="width:7%">
    <col style="width:7%">
    <col style="width:7%">
    <col sec:authorize="isAuthenticated()" style="width:7%">
  </COLGROUP>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    <th>좋아요</th>
    <th>view</th>
    <th sec:authorize="isAuthenticated()">수정/삭제</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="boardPage:${boardPage}">
    <td th:text="${boardPage.id}"></td>
    <td><a th:href="@{/detail5Board/{id}(id=${boardPage.id})}" th:text="${boardPage.title}"></a></td>
    <td th:text="${boardPage.author}"></td>
    <td th:text="${#temporals.format(boardPage.inputDate,'yy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${boardPage.likes}"></td>
    <td th:text="${boardPage.views}"></td>
    <td sec:authorize="isAuthenticated()">
      <a th:href="@{/update5Board/{id}(id=${boardPage.id})}"
         th:onclick="return checkId([[${boardPage.id}]],[[${#authentication.name}]],[[${boardPage.author}]])">수정</a>/
      <a href="#"
         th:data-board-id="${boardPage.id}"
         th:data-login-id="${#authentication.name}"
         th:data-board-author="${boardPage.author}"
         onclick="delete5BoardFromData(this);">삭제</a>
  </tr>
  </tbody>
</table>
<div class="paging-container">
  <div>
    <a th:if="${boardPage.hasPrevious() and startPage>1}"
       th:href="@{/board5(page=${startPage -2}, size=${boardPage.size}, kw=${kw})}">이전</a>

    <span th:each="page :${#numbers.sequence(startPage,endPage)}">
      <a th:href="@{/board5(page=${page-1},size=${boardPage.size},kw=${kw})}"
         th:text="${page}"
         th:classappend="${page == boardPage.number +1}?'active'"></a>
    </span>

    <a th:if="${boardPage.hasNext() and endPage < boardPage.totalPages }"
       th:href="@{/board5(page=${endPage}, size=${boardPage.size},kw=${kw})}">다음</a>

  </div>
</div>
<div class="search-container">
  <form th:action="@{/board5}" method="get">
    <input type="hidden" name="size" th:value="${boardPage.size}">
    <input type="text" name="kw" placeholder="제목 또는 내용 검색" th:value="${kw}">
    <button type="submit">검색</button>
  </form>
</div>
</body>

</html>