<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{top:: top}"></div>
<link rel="stylesheet" type="text/css" th:href="@{/css/board1.css}">
<body>
<div><a href="inputBoard2" id="inputBoard">게시판 생성</a></div>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th><a href="detailBoard"></a>제목</th>
        <th>작성일</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>