<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div th:insert="~{top:: top}"></div>
<script th:src="@{/js/board3.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="board-container">
<div><a th:href="@{inputBoard3}">게시판 작성</a></div>
<table>
    <colgroup>
        <col style="width:7%">
        <col style="width:7%">
        <col style="width:7%">
        <col style="width:7%">
        <col style="width:7%">
    </colgroup>
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>게시일</th>
            <th>작성자</th>
            <th>수정/삭제</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="list:${list}">
        <td th:text="${list.id}"></td>
        <td><a th:href="@{detail3/{id}(id=${list.id})}" th:text="${list.title}"></a></td>
        <td th:text="${list.inputDate}"></td>
        <td th:text="${list.author}"></td>
        <td><a th:href="@{update3/{id}(id=${list.id})}">수정</a><a href="#" th:onclick="delete3Board([[${list.id}]])">삭제</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>