<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{top:: top}"></div>
<body>
<form th:action="@{boardSave2}" method="post">
  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input type="text" name="title" required placeholder="제목을 입력해주세요">
      </td>
      <td>
        <textarea cols="20" rows="20" name="content" required placeholder="내용을 입력해주세요"></textarea>
      </td>
      <td>
        <input type="text" name="author" required placeholder="작성자명을 입력해주세요">
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="생성"></td>
    </tr>
    </tbody>
  </table>

</form>
</body>
</html>