<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="~{top:: top}"></div>
<link th:href="@{/css/boardWrite.css}" rel="stylesheet" >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="board-write-container">
  <form th:action="@{boardSave3}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">제목</label>
    <input type="text" id="title" name="title" required placeholder="제목을 입력하세요">
  </div>
  <div class="form-group">
    <label for="content">내용</label>
    <textarea style="resize:none;" rows="20" cols="20" id="content" name="content"  placeholder="제목을 입력하세요"></textarea>
  </div>
    <div class="form-group">
      <label for="file">사진첨부</label>
      <input type="file" id="file" name="file">
    </div>
  <div class="form-group">
    <label for="author">작성자</label>
    <input type="text" id="author" name="author" required placeholder="작성자">
  </div>
  <button type="submit" class="submit-button">작성</button>
  </form>
</div>
</body>
</html>