<html xmlns:th="http://www.thymeleaf.org" th:fragment="top"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">게시판</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">게시판1.0ver <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/board1">1-1(기본CRUD)</a></li>
          <li><a href="/board2">1-2(기본+페이징)</a></li>
          <li><a href="/board3">1-3(기본+페이징+검색)</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">게시판2.0ver <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li sec:authorize="isAuthenticated()">
            <a href="/board4">권한 crud</a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a href="/login" onclick="alert('로그인이 필요한 페이지입니다. 로그인 해주세요.');">권한 crud</a>
          </li>
          <li><a href="#">2-2</a></li>
          <li><a href="#">2-3</a></li>
        </ul>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 3 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">2-1</a></li>
          <li><a href="#">2-2</a></li>
          <li><a href="#">2-3</a></li>
        </ul>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li sec:authorize="isAnonymous()">
        <a th:href="@{/join}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li sec:authorize="isAnonymous()">
        <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/member_info}"><span class="glyphicon glyphicon-user"></span> <span sec:authentication="name"></span>님</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>

</body>

</html>