<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="~{top:: top}"></div>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/css/board2.css}">
<div class="board-update-group">
    <form th:action="@{/update5Save/{id}(id=${entity.id})}" method="post" enctype="multipart/form-data">
        <table>
            <colgroup>
                <col style="width:7%">
                <col>
                <col>
                <col style="width:7%">
            </colgroup>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>내용</th>
                    <th>파일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <input type="hidden" name="id" th:value="${entity.id}" readonly>
                    <td><input type="text" name="title" th:value="${entity.title}"></td>
                    <td><textarea  style="resize:none;" rows="20" cols="20" name="content" th:text="${entity.content}"></textarea></td>
                    <td><input type="file" name="file"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="수정"><a th:href="@{/board5}">돌아가기</a></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
</body>

</html>